.git
.codex
.agents
.claude
.venv
node_modules
**/node_modules
apps/**/dist
build
dist
wheels
*.egg-info

.env
*/.env
env.json
*/*_cookie.json

data
backups
logs
.logs

*.sqlite
*.sqlite-shm
*.sqlite-wal

test.png
*/test.png
*test*.png
*/*test*.png
