BOOKMETER_ACCOUNT=
BOOKMETER_PASSWORD=

CINII_API_APPID=
GOOGLE_BOOKS_API_KEY=
ISBNDB_API_KEY=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

DISCORD_WEBHOOK_URL=
DISCORD_USER_ID_TO_MENTION=
